In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

**Getting to know the dataset**

In [2]:
from sklearn.datasets import load_digits
digits = load_digits()

In [3]:
digits["data"]

array([[ 0.,  0.,  5., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ..., 10.,  0.,  0.],
       [ 0.,  0.,  0., ..., 16.,  9.,  0.],
       ...,
       [ 0.,  0.,  1., ...,  6.,  0.,  0.],
       [ 0.,  0.,  2., ..., 12.,  0.,  0.],
       [ 0.,  0., 10., ..., 12.,  1.,  0.]])

In [4]:
digits["target"]

array([0, 1, 2, ..., 8, 9, 8])

In [7]:
digits["feature_names"]

['pixel_0_0',
 'pixel_0_1',
 'pixel_0_2',
 'pixel_0_3',
 'pixel_0_4',
 'pixel_0_5',
 'pixel_0_6',
 'pixel_0_7',
 'pixel_1_0',
 'pixel_1_1',
 'pixel_1_2',
 'pixel_1_3',
 'pixel_1_4',
 'pixel_1_5',
 'pixel_1_6',
 'pixel_1_7',
 'pixel_2_0',
 'pixel_2_1',
 'pixel_2_2',
 'pixel_2_3',
 'pixel_2_4',
 'pixel_2_5',
 'pixel_2_6',
 'pixel_2_7',
 'pixel_3_0',
 'pixel_3_1',
 'pixel_3_2',
 'pixel_3_3',
 'pixel_3_4',
 'pixel_3_5',
 'pixel_3_6',
 'pixel_3_7',
 'pixel_4_0',
 'pixel_4_1',
 'pixel_4_2',
 'pixel_4_3',
 'pixel_4_4',
 'pixel_4_5',
 'pixel_4_6',
 'pixel_4_7',
 'pixel_5_0',
 'pixel_5_1',
 'pixel_5_2',
 'pixel_5_3',
 'pixel_5_4',
 'pixel_5_5',
 'pixel_5_6',
 'pixel_5_7',
 'pixel_6_0',
 'pixel_6_1',
 'pixel_6_2',
 'pixel_6_3',
 'pixel_6_4',
 'pixel_6_5',
 'pixel_6_6',
 'pixel_6_7',
 'pixel_7_0',
 'pixel_7_1',
 'pixel_7_2',
 'pixel_7_3',
 'pixel_7_4',
 'pixel_7_5',
 'pixel_7_6',
 'pixel_7_7']

In [8]:
df_data = pd.DataFrame(digits["data"], columns=digits["feature_names"])

In [9]:
df_data.head()

,pixel_0_0,pixel_0_1,pixel_0_2,pixel_0_3,pixel_0_4,pixel_0_5,pixel_0_6,pixel_0_7,pixel_1_0,pixel_1_1,...,pixel_6_6,pixel_6_7,pixel_7_0,pixel_7_1,pixel_7_2,pixel_7_3,pixel_7_4,pixel_7_5,pixel_7_6,pixel_7_7
0,0.0,0.0,5.0,13.0,9.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,6.0,13.0,10.0,0.0,0.0,0.0
1,0.0,0.0,0.0,12.0,13.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,11.0,16.0,10.0,0.0,0.0
2,0.0,0.0,0.0,4.0,15.0,12.0,0.0,0.0,0.0,0.0,...,5.0,0.0,0.0,0.0,0.0,3.0,11.0,16.0,9.0,0.0
3,0.0,0.0,7.0,15.0,13.0,1.0,0.0,0.0,0.0,8.0,...,9.0,0.0,0.0,0.0,7.0,13.0,13.0,9.0,0.0,0.0
4,0.0,0.0,0.0,1.0,11.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2.0,16.0,4.0,0.0,0.0

In [10]:
df_data.shape

(1797, 64)

**Preparign for PCA**

In [11]:
from sklearn.preprocessing import StandardScaler

In [12]:
scaler = StandardScaler()
scaled_data = scaler.fit_transform(df_data)

In [13]:
df_new = pd.DataFrame(scaled_data, columns=digits["feature_names"])

In [14]:
df_new.head()

,pixel_0_0,pixel_0_1,pixel_0_2,pixel_0_3,pixel_0_4,pixel_0_5,pixel_0_6,pixel_0_7,pixel_1_0,pixel_1_1,...,pixel_6_6,pixel_6_7,pixel_7_0,pixel_7_1,pixel_7_2,pixel_7_3,pixel_7_4,pixel_7_5,pixel_7_6,pixel_7_7
0,0.0,-0.335016,-0.043081,0.274072,-0.664478,-0.844129,-0.409724,-0.125023,-0.059078,-0.624009,...,-0.757436,-0.209785,-0.023596,-0.299081,0.086719,0.208293,-0.366771,-1.146647,-0.505670,-0.196008
1,0.0,-0.335016,-1.094937,0.038648,0.268751,-0.138020,-0.409724,-0.125023,-0.059078,-0.624009,...,-0.757436,-0.209785,-0.023596,-0.299081,-1.089383,-0.249010,0.849632,0.548561,-0.505670,-0.196008
2,0.0,-0.335016,-1.094937,-1.844742,0.735366,1.097673,-0.409724,-0.125023,-0.059078,-0.624009,...,0.259230,-0.209785,-0.023596,-0.299081,-1.089383,-2.078218,-0.164037,1.565686,1.695137,-0.196008
3,0.0,-0.335016,0.377661,0.744919,0.268751,-0.844129,-0.409724,-0.125023,-0.059078,1.879691,...,1.072563,-0.209785,-0.023596,-0.299081,0.282736,0.208293,0.241430,0.379040,-0.505670,-0.196008
4,0.0,-0.335016,-1.094937,-2.551014,-0.197863,-1.020657,-0.409724,-0.125023,-0.059078,-0.624009,...,-0.757436,-0.209785,-0.023596,-0.299081,-1.089383,-2.306869,0.849632,-0.468564,-0.505670,-0.196008

**PCA with two components**

In [15]:
from sklearn.decomposition import PCA

In [16]:
pca = PCA(n_components=2)

In [17]:
df_pca = pca.fit_transform(df_new)

In [18]:
df_pca.shape

(1797, 2)

In [19]:
component_df = pd.DataFrame(data=df_pca, columns=["first_component", "second_component"])

In [20]:
component_df

      first_component  second_component
0            1.914193         -0.954576
1            0.588982          0.924613
2            1.302008         -0.317267
3           -3.020767         -0.868760
4            4.528961         -1.093488
...               ...               ...
1792         0.104309          0.254955
1793         2.423199         -1.429701
1794         1.022580         -0.148027
1795         1.076062         -0.380964
1796        -1.257722         -2.227634

[1797 rows x 2 columns]

In [21]:
pca.explained_variance_

array([7.34477606, 5.83549053])

In [22]:
pca.explained_variance_ratio_

array([0.12033916, 0.09561054])

In [23]:
np.cumsum(pca.explained_variance_ratio_)

array([0.12033916, 0.2159497 ])

**PCA with four components**

In [24]:
pca_nea = PCA(n_components=4)

In [25]:
df_pca_new = pca_nea.fit_transform(df_new)

In [26]:
component_df = pd.DataFrame(data=df_pca_new, columns=["first_component", "second_component", "third", "fourth"])

In [27]:
component_df

      first_component  second_component     third    fourth
0            1.914214         -0.954514 -3.946108  2.028769
1            0.588981          0.924635  3.924793 -1.779818
2            1.302038         -0.317167  3.023423 -2.043483
3           -3.020768         -0.868777 -0.801689 -2.187022
4            4.528950         -1.093488  0.973079 -1.419470
...               ...               ...       ...       ...
1792         0.104331          0.255013 -3.765936 -1.946918
1793         2.423231         -1.429582 -3.045153  2.632022
1794         1.022593         -0.147896  2.469974 -0.620332
1795         1.076053         -0.380912 -2.455520 -1.311833
1796        -1.257703         -2.227596  0.283511 -0.127155

[1797 rows x 4 columns]

In [28]:
pca_nea.explained_variance_

array([7.34477606, 5.83549054, 5.15396117, 3.96623594])

In [29]:
pca_nea.explained_variance_ratio_

array([0.12033916, 0.09561054, 0.08444415, 0.06498408])

In [30]:
np.cumsum(pca_nea.explained_variance_ratio_)

array([0.12033916, 0.21594971, 0.30039385, 0.36537793])